---
layout: main.liquid
title: 31z4
---
{{ content }}

<section>
  <h2>Recent Posts</h2>

  <table>
    {%- for post in collections.post reversed -%}
      <tr>
        <td>
          <time datetime="{{ post.page.date | date }}">{{ post.page.date | localeDate }}</time>
        </td>
        <td>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </td>
      </tr>
    {%- endfor -%}
  </table>
</section>
